html, body {
    background: url(../images/body_bg.jpg) center center repeat;
    scroll-behavior: smooth;
    color: #444444;
    font-size: .9em;
}

h4 {
    color: #B4812D;
    font-weight: bold;
}

a, a:hover {
    color: #B4812D;
    text-decoration: none;
}

.more {
    border: 1px solid #B4812D;
    background-color: #F2EADD;
}

.contain {
    margin-bottom: 20vh;
}

.header {
    background: url(../images/header_bg.png) center center / cover repeat;

}

.header .navbar-toggler {
    color: transparent;
    border: 0;
}

.header .navbar-nav .nav-link.active, 
.header .navbar-nav .show>.nav-link,
.header .navbar-nav .nav-link:focus, 
.header .navbar-nav .nav-link:hover {
    color: #E3653C;
    font-weight: bold;
}

.about, .partner {
    background-color: rgba(0,0,0,.05);
}

.north_bn {
    background-color: #edeef2;
}

.time_bn {
    background-color: #B9E1ED;
}

.line_bn {
    background-color: #00c601;
}

.pen_bn {
    background-color: #1c1c1c;
}

.su_bn {
    background-color: #000;
}

.vr_bn {
    background-color: #fff;
}

.ir_bn {
    background-color: #4082e4;
}

.ak_bn {
    background-color: #FD5592;
}

.k_bn {
    background-color: #f5ede5;
}

.i_bn {
    background-color: #EFF1F7;
}

.ani_bn {
    background: linear-gradient(15deg, #f63239 40%, #eb253e 60%);
}

.lo_bn {
    background-color: #dac3a7;
}

.nav-link {
    color: #B4812D;
}

.nav-link:focus, .nav-link:hover {
    color: #ddc193;
}

.nav-pills .nav-link.active {
    background-color: #CBAA8A;
}

.case_box {
    transition: .5s;
}

.case_box:hover {
    cursor: pointer;
    opacity: .85;
}

.toTop {
    z-index: 1;
    width: 2.6em;
    height: 2.6em;
    background-color: #CBAA8A;
    cursor: pointer;
}

.toTop:hover {
    opacity: .85;
}

.info, .info a {
    background: #F2EADD;
    color: #E3653C;
    font-weight: bold;
}

.info span {
    color: #CBAA8A;
}

.copyright {
    background: #DECAA9;
}